<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/project.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="&quot;.&quot;yyyyMMdd"/>
      <maxSizeRollBackups value="30"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %m - [%F:%L]%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"></level>
      <appender-ref ref="RollingLogFileAppender"></appender-ref>
    </root>
  </log4net>
</configuration>